.tag.rank-position {
  margin: 0 !important;
  border-radius: 1em !important;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .rank-view .columns.ranking-list  {
    height: 30vh;
  }
}

@media (min-width: 600px) {
  .rank-view .columns.ranking-list  {
    height: 51vh;
  }
}
.rank-view .columns.ranking-list  {
  overflow-y: scroll;
}

.rank-view .columns .column {
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

.rank-position.gold {
  background: #FFD700;
}

.rank-position.silver {
  background: #8A9597;
}

.rank-position.bronze {
  background: #CD7F32;
}

.rank-view h1 {
  margin-bottom: 0;
}

.rank-view .header-rank {
  padding: 0.5em 0;
}

.ranking-list.columns {
  display: block;
}

.user.me {
  outline: 0.1em solid rgba(255,255,255,0.5);
  outline-offset: -0.25rem;
}
