.box.user .media-content {
  padding-left: 1em;
  overflow-x: hidden;
}

.box.user .media-content .user-me{
  overflow-y: hidden;
  height: 3em;
}

.box.user .columns:not(.user-point), .box.user .columns:not(.user-point) > .column {
  padding: 0;
  margin: 0;
}

.status-user {
  width: 1em;
  height: 1em;
  content: '.';
  display: inline-block;
  border-radius: 1em;
  font-size: 0.5em;
}

.status-user.online {
  background: green;
}

.status-user.offline {
  opacity: 0.25;
  background: red !important;
}

.user article {
  margin-bottom: 0.25em;
}

.user-point span {
  width: 100%;
}
