.box.user .media-content {
  padding-left: 1em;
  overflow-x: hidden;
}

.box.user .columns, .box.user .columns .column {
  padding: 0;
  margin: 0;
}

.status-user {
  text-transform: uppercase;
  font-size: 0.6em !important;
}

.status-user.offline {
  opacity: 0.5;
  color: rgba(255,255,255,0.5) !important;
}

.user article {
  margin-bottom: 0.25em;
}

.user-point span {
  width: 100%;
}

.user-point.columns .column{
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
