.form-player-number  {
  width: 100%;
  line-height: 3em;
}

.form-player-number.active  {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-bet.no-active, .form-code.no-active {
  opacity: 0.25;
}

.state-game {
  line-height: 2.1em;
}

.info-contact {
  line-height: 2em;
}

.bet-show {
  border-radius: 2em;
}

.bet-show-column {
  padding-left: 0;
  padding-right: 0;
}

.btn-type-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn-type-content:not(.active), .form-player-number:not(.active) {
  opacity: 0.85;
}
