.form-player-number  {
  width: 100%;
  line-height: 3em;
}

.form-player-number.active  {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-bet.no-active, .form-code.no-active {
  opacity: 0.25;
}

.state-game {
  line-height: 2.25em;
}

.info-contact {
  line-height: 2em;
}

.bet-show {
  border-radius: 2em;
}

.bet-show-column {
  padding-left: 0;
  padding-right: 0;
}

.btn-type-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btn-type-content:not(.active), .form-player-number:not(.active) {
  opacity: 0.85;
}

.box.box-game-list {
  padding: 1em;
  height: 48vh;
}

.box.box-game-list .columns.list-game {
  margin: 0;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.columns.list-game .columns.list-game-items {
  border-bottom: 1px solid white;
}

.box.box-game-list .box-game-pager ul{
  margin: 0;
}

.box.box-game-list .box-game-pager ul li a{
  color: white;
  border-color: white;
  font-weight: lighter;
  border-radius: 1em;
}

.box.box-game-list .box-game-pager ul li a.is-current{
  background: rgba(255,255,255,0.5);
  font-weight: bolder;
  color: black;
  border-color: black;
}
