:root {
  --snackbar-margin-bottom: 0.5em;
}

.notification.snackbar {
  width: 95%;
  position: fixed;
  z-index: 15;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: var(--snackbar-margin-bottom);
  box-shadow: 0 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  font-size: 1rem;
}

.notification.snackbar.show {
  opacity: 1;
  animation: fadein 0.5s;
}

.notification.snackbar.hide {
  opacity: 0;
  animation: fadeout 0.5s;
}

[data-text=""].notification.snackbar {
  opacity: 0;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {
      bottom: 0;
      opacity: 0;
  }
  to {
      bottom: var(--snackbar-margin-bottom);
      opacity: 1;
  }
}


@keyframes fadeout {
  from {
      bottom: var(--snackbar-margin-bottom);
      opacity: 1;
  }
  to {
      bottom: 0;
      opacity: 0;
  }
}
