h1.title-app-name {
  margin-bottom: 0 !important;
}

h1.title-app-name .breadcrumb {
  font-size: 0.65em;
}

h1.title-app-name .breadcrumb span:after {
  content: " » ";
}

h1.title-app-name .breadcrumb span:last-child:after {
  content: ''
}


h1.title-app-name a.icons {
  float: right;
  padding: 0 0.25em;
  margin: 0 0.25em;
}
